<!-- navigation -->
  <div class="main_menu">
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/anta-logo.png" alt="ANTA" height="30px"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active" data-scroll><a href="#rates">{{anta.index.navigation.quote}}</a><span class="sr-only">(current)</span></li>
            <li><a href="#company" data-scroll>{{anta.index.navigation.company}}</a></li>
            <li><a href="#services" data-scroll>{{anta.index.navigation.services}}</a></li>
            <li><a href="#clients" data-scroll>{{anta.index.navigation.clients}}</a></li>
            <li><a href="#rates" data-scroll>{{anta.index.navigation.rates}}</a></li>
          </ul>

          <div id="menu_languages">
            <ul class="nav navbar-nav navbar-right">
              <li id="English"><a href="#" class="lang-select" id="en">EN</a></li>
              <li id="French"> <a href="#" class="lang-select" id="fr">FR</a></li>
              <li id="Russian"><a href="#" class="lang-select" id="ru">PY</a></li>
            <ul>          
          </div>

        </div>

      </div>
    </nav>
  </div>

<!-- /navigation -->

<!-- Jumbotron -->
  <div class="jumbotron">
    <div class="container">
      <h1>{{ anta.index.header.header_title }}</h1>
      <h2>{{ anta.index.header.header_subtitle }}</h2>
    </div>
  </div>

<!-- /jumbotron -->

  
  <div class="invisible_side_menu_fixed"></div>

  <div id="main">

<!-- side menu -->
    <div class="row side_menu_container">    
      <div class="invisible_side_menu_static"></div>
      <div class="side_menu">
        <ul class="side_menu_links list-unstyled">
          <li id="side_menu_company">
            <span class="glyphicon glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            <a href="#company" data-scroll>{{anta.index.navigation.company}}</a></li>
          <li id="side_menu_services">
            <span class="glyphicon glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            <a href="#services" data-scroll>{{anta.index.navigation.services}}</a></li>
          <li id="side_menu_clients">
            <span class="glyphicon glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            <a href="#clients" data-scroll>{{anta.index.navigation.clients}}</a></li>
          <li id="side_menu_rates">
            <span class="glyphicon glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            <a href="#rates" data-scroll>{{anta.index.navigation.rates}}</a></li>
        </ul>    
      </div>
<!-- /side menu -->

<!-- company section -->
      <div class="section" id="company">
      <div class="row">
        <div class="company inner_content">
        
          <div id="company_title"><h1>{{anta.index.navigation.company}}</h1></div>

          <div class="company" id="company_text">

              <p class="lead">{{anta.index.company.company_lead}}</p>

              <p>{{anta.index.company.company_p1}}</p>
            
              <p>{{anta.index.company.company_p2}} </p>
              <p>{{anta.index.company.company_p3}}</p>
              
              <p>{{anta.index.company.company_p4}}</p>
              <ul class="list-unstyled">
                <li class="col-sm-4"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                  <h4>{{anta.index.company.company_list_header1}}</h4>
                  <p>{{anta.index.company.company_list_text1}}</p>
                </li>
                <li class="col-sm-4"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                  <h4>{{anta.index.company.company_list_header2}}</h4>
                  <p>{{anta.index.company.company_list_text2}}</p>
                </li>
                <li class="col-sm-4"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                  <h4>{{anta.index.company.company_list_header3}}</h4>
                  <p>{{anta.index.company.company_list_text3}}</p>
                </li>
              </ul>    
          </div>
        </div>

      </div>
    </div>
    <!-- </div>  -->
<!-- /company section -->
  
<!-- services section -->
    <div class="section" id="services">
        <div class="row">
          <div class="services inner_content">
                        
            <div class="services" id="services_title"><h1>{{anta.index.navigation.services}}</h1></div>

            <div class="services" id="services_text">
                <p> {{anta.index.services.services_para1}}</p>
                
                <p>{{anta.index.services.services_para2}}</p>

                <ul>
                  <li>{{anta.index.services.services_li1}} </li>
                  <li>{{anta.index.services.services_li2}} </li>
                  <li>{{anta.index.services.services_li3}} </li>
                  <li>{{anta.index.services.services_li4}} </li>
                  <li>{{anta.index.services.services_li5}} </li>
                  <li>{{anta.index.services.services_li6}} </li>
                </ul>
                
                <p>{{anta.index.services.services_para3}}</p>
            </div>
          </div>
        </div>
    </div>
<!-- /services section -->

<!-- clients section -->
    <div class="section" id="clients">
      <div class="row">
        <div class="clients inner_content">
          
          <div class="clients" id="clients_title"><h1>{{anta.index.navigation.clients}}</h1></div>

          <div class="clients" id="clients_text">
              <p> {{anta.index.clients.clients_para1}}</p>

              <ul>
                <li>{{anta.index.clients.clients_li1}}</li>
                <li>{{anta.index.clients.clients_li2}}</li>
                <li>{{anta.index.clients.clients_li3}}</li>
                <li>{{anta.index.clients.clients_li4}}</li>
                <li>{{anta.index.clients.clients_li5}}</li>
                <li>{{anta.index.clients.clients_li6}}</li>
              </ul>
              
              <p>{{anta.index.clients.clients_para2}}</p>
          </div>
        </div>
      </div>
    </div>
<!-- /clients section -->
      

<!-- rates section -->
    <div class="section" id="rates">
      <div class="row">
        <div class="rates inner_content">
          <div class="rates" id="rates_title"><h1>{{anta.index.navigation.rates}}</h1></div>

          <div class="rates" id="rates_text">
              <p>{{anta.index.rates.rates_intro1}}</p>
              <p>{{anta.index.rates.rates_intro2}}</p>
          </div>

          <form action="https://getsimpleform.com/messages?form_api_token=039f4760c1569d542e96cd829d3f3d80" method="POST" enctype="multipart/form-data">

            <input type='hidden' name='redirect_to' value='http://antatranslations.com/' />

            <div class="form-group">
              <label for="name">{{anta.index.form.name}}</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group">
              <label for="company">{{anta.index.form.company_name}}</label>
              <input type="text" name="company" class="form-control" id="company" required>
            </div>
            <div class="form-group">
              <label for="langfrom">{{anta.index.form.translate_from}}</label>
              <input type="text" name="langfrom" class="form-control" id="language-from">
            </div>
            <div class="form-group">
              <label for="langto">{{anta.index.form.translate_to}}</label>
              <input type="text" name="langto" class="form-control" id="language-to">
            </div>
            <div class="form-group">
              <label for="email">{{anta.index.form.email}}</label>
              <input type="text" name="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
              <label for="phone">{{anta.index.form.phone}}</label>
              <input type="text" name="phone" class="form-control" id="phone" >
            </div>
            <div class="form-group">
              <label for="comments">{{anta.index.form.comments}}</label>
              <textarea name="comments" class="form-control" id="comments"></textarea>
            </div>
            <div class="form-group">
              <label for="document">{{anta.index.form.file_input}}</label>
              <input type="file" name="document" class="form-control" id="document">
            </div>
            <div class="centered">
              <button class="btn btn-red submit-btn">{{anta.index.form.submit}}</button>
            </div>
          </form>

        </div>
      </div>
    </div>
<!-- /rates section -->

</div> <!-- /main? -->
      

<!-- </div> container-fluid -->

<!-- footer -->
  <div class="footer text-muted col-md-12 col-sm-12">
    <div class="footer-left col-md-6 col-sm-6">
      <ul id="contact" class="list-unstyled"> 
        <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>{{anta.index.contact_info.email}}</li>
        <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>{{anta.index.contact_info.phone}}</li>
        <li><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>{{anta.index.contact_info.fax}}</li>
      </ul>
    </div>
      
    <div class="footer-right col-md-6 col-sm-6">
      <ul id="address" class="list-unstyled">
      <li>{{anta.index.contact_info.address1}}</li>
      <li>{{anta.index.contact_info.address2}}</li>
      <li>{{anta.index.contact_info.address3}}</li> 
    </div>

  </div>

  <div class="copyright col-md-12 col-sm-12">
    <p class="small text-muted">Copyright 2016  |  Website by <a href="https://www.linkedin.com/in/kennedysharon">Sharon Kennedy</a></p>
  </div>
<!-- /footer -->